@charset "UTF-8";

@import "../node_modules/materialize-css/sass/components/_color-variables.scss";

$primary-color: #ff2391;
$secondary-color: color("pink", "darken-2");
$link-color: color("light-blue", "darken-1");
$off-black: rgba(255, 255, 255, 0.87);

/*body {
	background-color: darken($primary-color, 3%);
}*/

@import '../node_modules/materialize-css/sass/materialize.scss';